@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radialColor1: hsl(214, 47%, 23%);
  --radialColor2: hsl(237, 49%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase !important;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: radial-gradient(var(--radialColor1), var(--radialColor2));
  color: #fff;
  overflow-x: hidden;
}

.optionCard {
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.optionCard button:first-of-type {
  grid-column: 5 / 10;
  grid-row: 1 / 5;
}

.optionCard button:nth-of-type(2) {
  grid-column: 1 / 5;
  grid-row: 4 / 8;
}

.optionCard button:nth-of-type(3) {
  grid-column: 10 / 14;
  grid-row: 4 / 8;
}

.optionCard button:nth-of-type(4) {
  grid-column: 3 / 7;
  grid-row: 9 / 13;
}

.optionCard button:nth-of-type(5) {
  grid-column: 8 / 12;
  grid-row: 9 / 13;
}

/* ripple animation */
.winner {
  animation: ripple 0.8s linear infinite;
  border-radius: 50%;
}

/* ripple effect */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(20, 21, 57, 0.3),
                0 0 0 40px rgba(20, 21, 57, 0.3),
                0 0 0 80px rgba(20, 21, 57, 0.3);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(20, 21, 57, 0.3),
                0 0 0 80px rgba(20, 21, 57, 0.3),
                0 0 0 120px rgba(20, 21, 57, 0);
  }
}


@media(max-width: 640px) {
  .optionCard > button {
    scale: 0.75;
  }

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(20, 21, 57, 0.3),
                  0 0 0 30px rgba(20, 21, 57, 0.3),
                  0 0 0 60px rgba(20, 21, 57, 0.3);
    }
    100% {
      box-shadow: 0 0 0 30px rgba(20, 21, 57, 0.3),
                  0 0 0 60px rgba(20, 21, 57, 0.3),
                  0 0 0 90px rgba(20, 21, 57, 0);
    }
  }
}